{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "printWidth": 100,
    "arrowParens": "avoid",
    "trailingComma": "none"
}
