$pink: #FFCCBB;
$blue_dark: #006C84;
$blue: #6EB5C0;
$white: #fafafb;

.banner-form {
    background-color: $blue_dark;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__label {
        color: $pink;
        margin: 5px 0;
        &_dropdown {
            cursor: pointer;
        }
    }
}
