$pink: #FFCCBB;
$blue_dark: #006C84;
$blue: #6EB5C0;
$white: #fafafb;

.banner-form {
    background-color: $blue_dark;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__label {
        color: $pink;
        margin: 5px 0;
        &_dropdown {
            cursor: pointer;
        }
    }

    &__input {
        width: 80%;
        margin: 5px 0;
        outline: none;
        border: none;
        border-radius: 15px;
        height: 30px;
        padding: 2px 10px;
        font-size: 20px;
        background-color: $white;
        color: $blue_dark;

        &::placeholder {
            color: rgb(180, 180, 180);
        }
    }
}
