$white: #fafafb;

.preview-zone {
    background-color: $white;
    width: 70%;
    height: 100%;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

@mixin bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    background-size: cover;
    
    &_square {
        width: 45vw;
        height: 45vw;
        @include bannerText();
    }

    &_vertical {
        width: 35vw;
        height: 45vw;
        @include bannerText();
    }

    &_gorizontal {
        width: 45vw;
        height: 35vw;
        @include bannerText();
    }

    &__text {
        max-width: 100%;
        width: max-content;
        white-space: nowrap;
    }
}
