$white: #fafafb;

.preview-zone {
    background-color: $white;
    width: 70%;
    height: 100%;
}

.banner-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
